---
import { getCollection } from "astro:content";
import FormattedDate from "~/components/formatted-date.astro";
import BlogLayout from "~/layouts/blog-layout.astro";
import Tag from "~/components/tag.astro"
import Icon from "astro-icon";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BlogLayout title="Welcome, hackers" description="Get all the latest updates here!">
	<div class="flex flex-col items-center w-full">
		<div class="grid max-w-7xl grid-cols-1 md:grid-cols-2 gap-16 mx-6 xs:mx-8 md:mx-0">
			{
				posts.map((post) => (
					<a
						href={`/blog/${post.slug}/`}
						class="max-w-lg border border-lowcontrast overflow-hidden bg-lowcontrast rounded-md"
					>
						<img class="object-cover w-full md:h-60" src={post.data.heroImage} alt=" hero image" />
						<div class="px-4 md:px-6 pt-2 md:pt-3 pb-4 md:pb-6">
							<ul>
								{post.data.tags.map((tag) => 
								<li class="text-primary font-light text-xs xs:text-sm inline-block mr-2">
									#{tag}
								</li>)}
							</ul>
							<p class="font-bold xs:font-heading xs:text-lg">{post.data.title}</p>
							<p class="font-extralight text-xs xs:text-sm">{post.data.description}</p>
							<p class="font-light opacity-50 text-xs text-offset pt-2">
								<Icon class="h-5 inline-block mr-2 opacity-50" name="mdi:calendar-clock" />
								<FormattedDate date={post.data.pubDate} />
							</p>
						</div>
					</a>
				))
			}
		</div>
	</div>
</BlogLayout>
