---
import { Icon } from "astro-icon";
const competitions = [
	{
		year: 2023,
		description:
			"MCPS HSF 2023 was the revival of the competition after COVID. It brought together over 200 students from around Montgomery County to solve the mystery of Chance's murder. Former government employees even attended and spoke about the importance of cyber-forensics!",
		source_url:
			"https://github.com/CTFg/chalgen/tree/master/competitions/mcpshsf-2023",
		writeup: "https://justluk.dev/posts/writeups/mcpshsf/",
	},
	{
		year: 2019,
		description:
			'MCPS HSF 2019 was about the mystery of hrosho\'s kidnapping and this new game "Forknite". It was held in Montgomery College Rockville, and was a fun day of hacking, coding, and learning.',
		source_url: "https://github.com/breadchris/mcps-hsf-2019",
		writeup: "#",
	},
	{
		year: 2018,
		description:
			'MCPS HSF 2018 was about the game "Cash Royale" and was a challenge set out by Tom. This competition was based of CSAW HSF (no longer running :sad:) and included many unique challenges, such as hacking an IP Camera.',
		source_url: "https://github.com/breadchris/mcps-hsf-2018",
		writeup: "#",
	},
	{
		year: 2017,
		description:
			"MCPS HSF 2017 was the 4th iteration of MCPS HSF and was held at Montgomery College Rockville. It was free and accessible to all high-school students in Montgomery County.",
		source_url: "https://github.com/breadchris/mcps-hsf-2017",
		writeup: "#",
	},
];
---

<span
	id="history"
	class="w-full border-b border-primary font-heading font-bold xl:w-[50%]"
>
	<span
		class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 bg-default px-4 text-5xl"
		>History</span
	>
</span>
<ol
	class="dark:border-primary-500 mx-6 border-l-2 border-primary xs:mx-12 lg:mx-56"
>
	{
		competitions.map(({ year, description, source_url, writeup }) => {
			if (writeup === "#") {
				return (
					<li>
						<div class="flex-start flex items-center">
							<div class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary" />
							<h4 class="-mt-2 font-heading font-semibold text-xl">
								MCPS HSF {year}
							</h4>
						</div>
						<div class="mb-6 ml-6 pb-6">
							<span class="font-light text-primary text-xs md:text-sm">
								March 14, {year}
							</span>
							<p class="mb-4 mt-1 font-extralight text-sm md:mt-2 md:text-base">
								{description}
							</p>
							<a
								class="inline-flex items-center rounded-lg bg-secondary p-2 hover:bg-offset xs:py-3 xs:px-4"
								href={source_url}
							>
								<Icon
									name="mdi:github"
									class="h-6 w-6 xs:mr-3"
								/>
								<span class="relative hidden font-heading font-medium text-xs xs:flex">
									Source Code
								</span>
							</a>
						</div>
					</li>
				);
			} else {
				return (
					<li>
						<div class="flex-start flex items-center">
							<div class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary" />
							<h4 class="-mt-2 font-heading font-semibold text-xl">
								MCPS HSF {year}
							</h4>
						</div>
						<div class="mb-6 ml-6 pb-6">
							<span class="font-light text-primary text-xs md:text-sm">
								March 14, {year}
							</span>
							<p class="mb-4 mt-1 font-extralight text-sm md:mt-2 md:text-base">
								{description}
							</p>
							<div class="flex flex-row gap-3">
								<a
									class="inline-flex items-center rounded-lg bg-secondary p-2 hover:bg-offset xs:py-3 xs:px-4"
									href={source_url}
								>
									<Icon
										name="mdi:github"
										class="h-6 w-6 xs:mr-3"
									/>
									<span class="relative hidden font-heading font-medium text-xs xs:flex">
										Source Code
									</span>
								</a>
								<a
									class="inline-flex items-center rounded-lg bg-secondary p-2 hover:bg-offset xs:py-3 xs:px-4"
									href={writeup}
								>
									<Icon
										name="mdi:file-document"
										class="h-6 w-6 xs:mr-3"
									/>
									<span class="relative hidden font-heading font-medium text-xs xs:flex">
										Writeup
									</span>
								</a>
							</div>
						</div>
					</li>
				);
			}
		})
	}
</ol>
