---
import { Icon } from "astro-icon";
const competitions = [
	{
		year: 2023,
		description:
			"MCPS HSF 2023 was the revival of the competition after COVID. It brought together over 200 students from around Montgomery County to solve the mystery of Chance's murder. Former government employees even attended and spoke about the importance of cyber-forensics!",
		source_url:
			"https://github.com/CTFg/chalgen/tree/master/competitions/mcpshsf-2023",
		writeup: "https://justluk.dev/posts/writeups/mcpshsf/",
	},
	{
		year: 2019,
		description:
			'MCPS HSF 2019 was about the mystery of hrosho\'s kidnapping and this new game "Forknite". It was held in Montgomery College Rockville, and was a fun day of hacking, coding, and learning.',
		source_url: "https://github.com/breadchris/mcps-hsf-2019",
		writeup: "#",
	},
	{
		year: 2018,
		description:
			'MCPS HSF 2018 was about the game "Cash Royale" and was a challenge set out by Tom. This competition was based of CSAW HSF (no longer running :sad:) and included many unique challenges, such as hacking an IP Camera.',
		source_url: "https://github.com/breadchris/mcps-hsf-2018",
		writeup: "#",
	},
	{
		year: 2017,
		description:
			"MCPS HSF 2017 was the 4th iteration of MCPS HSF and was held at Montgomery College Rockville. It was free and accessible to all high-school students in Montgomery County.",
		source_url: "https://github.com/breadchris/mcps-hsf-2017",
		writeup: "#",
	},
];
---

<span id="history" class="font-heading font-semibold text-5xl border-x-8 border-dashed border-x-primary px-8">
  History
</span>
<ol
	class="border-l-2 border-primary dark:border-primary-500 mx-6 xs:mx-12 lg:mx-56"
>
	{
		competitions.map(({ year, description, source_url, writeup }) => {
      if (writeup === "#") {
			return (
				<li>
					<div class="flex-start flex items-center">
						<div class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary" />
						<h4 class="-mt-2 text-xl font-semibold font-heading">
							MCPS HSF {year}
						</h4>
					</div>
					<div class="mb-6 ml-6 pb-6">
						<span class="text-xs md:text-sm text-primary">
							March 14, {year}
						</span>
						<p class="text-sm md:text-base mb-4 mt-1 md:mt-2 font-thin">
							{description}
						</p>
						<a
							class="inline-flex items-center rounded-lg bg-secondary p-2 xs:py-3 xs:px-4 hover:bg-offset"
							href={source_url}
						>
							<Icon name="mdi:github" class="xs:mr-3 h-6 w-6" />
							<span class="hidden xs:flex text-xs font-medium font-heading relative">Source Code</span>
						</a>
					</div>
				</li>
			);
      } else {
        return (
        <li>
					<div class="flex-start flex items-center">
						<div class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary" />
						<h4 class="-mt-2 text-xl font-semibold font-heading">
							MCPS HSF {year}
						</h4>
					</div>
					<div class="mb-6 ml-6 pb-6">
						<span class="text-xs md:text-sm text-primary">
							March 14, {year}
						</span>
						<p class="text-sm md:text-base mb-4 mt-1 md:mt-2 font-thin">
							{description}
						</p>
            <div class="flex flex-row gap-3">
						<a
							class="inline-flex items-center rounded-lg bg-secondary p-2 xs:py-3 xs:px-4 hover:bg-offset"
							href={source_url}
						>
							<Icon name="mdi:github" class="xs:mr-3 h-6 w-6" />
							<span class="hidden xs:flex text-xs font-medium font-heading relative">Source Code</span>
						</a>
            <a
							class="inline-flex items-center rounded-lg bg-secondary p-2 xs:py-3 xs:px-4 hover:bg-offset"
							href={writeup}
						>
							<Icon name="mdi:file-document" class="xs:mr-3 h-6 w-6" />
							<span class="hidden xs:flex text-xs font-medium font-heading relative">Writeup</span>
						</a>
            </div>
					</div>
				</li>
        )
      }
		})
	}
</ol>
